
  #main{
    background-image: url(https://ak.picdn.net/shutterstock/videos/1027697816/thumb/9.jpg); 
    align-items: center;  
 } 
 
 .wrapper{
   width: 400px;
   padding: 5rem;
   background-color: rgb(13, 49, 10);
   position: absolute;
   top: 50%;
   bottom: auto;
   left: 50%;
   color: white;
   border-radius: 4px;
   transform: translate(-50% ,-50%);
   

 }
 span{
   text-align: center;
   font-size: 16px;
 } 

 p{
   font-size: 16px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: white ;
   text-align: center ;
   

   
 } 
 button {
   display: block;
   background-color :black;
   border: none;
   padding: 5px;
   font-size: 18px;
   color:whitesmoke;
   
   cursor: pointer;
   border-radius: 9px;


 }